$title: #363838;
$text: #FF5F01;

%title-font-900{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

%title-font-700{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

%title-font-400{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
